* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #eee;
}

.parent {
    height: fit-content;
    width: 250px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
}


.center-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image {
    width: 220px;
    height: 210px;
    border-radius: 20px;
}

.parent > p {
    color: darkgray;
    font-size: 20px;
}

.parent > h3 {
    color: initial;
    font-size: 22px;
}